.container {
    display: flex;
    height: 960px;
    width: 960px;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    display: flex;
    justify-content: space-around;
    flex: auto;
}

.cell {
    display: flex;
    border: 1px solid red;
    flex: auto;
}